# Directories
tmp_pkg/
**/Files/*
**/Assets
**/Config
**/Strings
**/PSAppDeployToolkit*

# Files
.sops.yaml
*.intunewin
Invoke-AppDeployToolkit.exe
# Decrypted SOPS files
.decrypted~*

# Keep these files
!**/.keep
!TEMPLATE*/**